html, body {
    height: 100%;
    margin: 0;
}

#canvas {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#bioLink {
    font-size: 60%;
    color:inherit;
}

#welcome {
    padding-top: 50px; 
    padding-right: 7%;
    padding-left: 7%;
    font-family:'Roboto',sans-serif;
    text-align: left;
    justify-content: center;
    align-items: left; 
    display: inline-block;
    font-size: 5vw;
}

h1{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

p{
    font-weight: 100;
    font-size: 70%;
}
.buttonCont {
    align-items:center;
    display: block;
    position:absolute;
    padding-top: 4px;
    padding-left: 4px;
    
}

.menuButton{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid black;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    text-align:center;
    transition: all 0.2s;
    background:white;
    font-size: 16px;   
}

.menuButtonDark{
    background: black;
    color: white;
    border-color:white;
}

.menuButtonDark:hover{
    background: white; 
    color: black;
    border-color: white;
}

.menuButtonLight{
    background: white;
    color:black;
    border-color:black;
}

.menuButtonLight:hover{
    background: black;
    color: white;
    border-color:black;
}